html, body{
	background: $white;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
    color: $black;
}
p{
    margin-bottom: 10px;
}
a {
	color: $black;
	text-decoration: none;
    transition: all 0.5s;
    
    &:hover{
        color: $black;
        text-decoration: none;
    }
    
    &:focus{
        text-decoration: none;
    }
    
    &:visited{
        text-decoration: none;
    }
}
.img-responsive{
    max-width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.underline{
    text-decoration: underline;
}