@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:500,600,700');

/*@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova.eot');
    src: url('fonts/ProximaNova.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova.woff') format('woff'),
         url('fonts/ProximaNova.ttf') format('truetype'),
         url('fonts/ProximaNova.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}