// Colors 
$white: #FFFFFF;
$black: #000000;
$gray: #4A4A4A;
$light-gray: #F4F5F8;
$blue: #2283CE;
$orange: #F99652;
$green: #7ED2C9;
$dark-green: #47897E;
$purple: #8765CB;

.blue{
    color: $blue !important;
    
    &.border-btn{
        &:hover{
            background: $blue ;
        }   
    }
}
.blue-bg{
    background-color: $blue;
    
    &.btn-full{
        &:hover{
            background: #115D98 ;
        }   
    }
}
.orange{
    color: $orange !important;
    
    &.border-btn{
        &:hover{
            background: $orange ;
        }   
    }
}
.orange-bg{
    background-color: $orange;
    
    &.btn-full{
        &:hover{
            background-color: #ea7728;
        }   
    }
}
.green{
    color: $green !important;
    
    &.border-btn{
        &:hover{
            background: $green ;
        }   
    }
}
.green-bg{
    background-color: $green;
    
    &.btn-full{
        &:hover{
            background-color: #64ada5;
        }   
    }
}
.purple{
    color: $purple !important;
    
    &.border-btn{
        &:hover{
            background: $purple ;
        }   
    }
}
.purple-bg{
    background-color: $purple;
    
    &.btn-full{
        &:hover{
            background-color: #624798;
        }   
    }
}
.dark-green{
    color: $dark-green !important;
    
    &.border-btn{
        &:hover{
            background: $dark-green ;
        }   
    }
}
.dark-green-bg{
    background-color: $dark-green;
    
    &.btn-full{
        &:hover{
            background-color: #356b62;
        }   
    }
}

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Base Font
$base-font-family: 'Exo 2', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.5;

