// Colors 
$white: #FFFFFF;
$black: #000000;
$gray: #4A4A4A;
$light-gray: #F4F5F8;
$blue: #2283CE;
$orange: #F99652;
$green: #7ED2C9;
$dark-green: #47897E;
$purple: #8765CB;

.blue{
    color: $blue;
}
.blue-bg{
    background-color: $blue;
}
.orange{
    color: $orange;
}
.orange-bg{
    background-color: $orange;
}
.green{
    color: $green;
}
.green-bg{
    background-color: $green;
}
.purple{
    color: $purple;
}
.purple-bg{
    background-color: $purple;
}
.dark-green{
    color: $dark-green;
}
.dark-green-bg{
    background-color: $dark-green;
}

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Base Font
$base-font-family: 'Exo 2', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.5;

