.folders-container{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.add-folder, .folder{
    width: 164px;
    height: 164px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: calc(50% - 10px);
    
    @include respond-to('small'){
        margin-bottom: 40px;
        margin-right: 40px;
    }
    
    img{
        margin: 10px 0;
    }
}

.add-folder{
    border: 1px dashed #979797;
    font-size: 14px;
    transition: all 0.5s;
    
    &:hover{
        border: 1px solid #2284CA;
        transition: all 0.5s;
    }
}

.folder{
    background: #979797;
    transition: all 0.5s;
    
    &:hover{
        transition: all 0.5s;
    }
    
    p{
        color: $white;
        font-size: 18px;
        
        .quantity{
            display: block;
            font-size: 12px;
        }
    }
    
    &.pink{
        background: #EA4E9D;
        
        &:hover{
            background: #d43f8a;
        }
    }
    &.green{
        background: #63D26F;
        
        &:hover{
            background: #4fa959;
        }
    }
    &.light-blue{
        background: #1FAAEA;
        
        &:hover{
            background: #1893cc;
        }
    }
    &.purple{
        background: #7A6FF0;
        
        &:hover{
            background: #675fc1;
        }
    }
    &.red{
        background: #E8384F;
        
        &:hover{
            background: #ad3041;
        }
    }
    &.light-gray{
        background: #B6BFC6;
        
        &:hover{
            background: #9a9fa2;
        }
    }
    &.orange{
        background: #FD9B00;
        
        &:hover{
            background: #c5851f;
        }
    }
}