.folders-container{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    
    @include respond-to("small"){
        margin-right: -40px;
    }
    
    .folder{
        &.pink{
            &:hover{
                background: #d43f8a;
            }
        }
        &.green{  
            &:hover{
                background: #4fa959;
            }
        }
        &.light-blue{
            &:hover{
                background: #1893cc;
            }
        }
        &.purple{
            &:hover{
                background: #675fc1;
            }
        }
        &.red{
            &:hover{
                background: #ad3041;
            }
        }
        &.light-gray{
            &:hover{
                background: #9a9fa2;
            }
        }
        &.orange{
            &:hover{
                background: #c5851f;
            }
        }
    }
}

.add-folder, .folder{
    width: 50%;
    height: 164px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: calc(50% - 10px);

    @include respond-to('small'){
        width: calc(33% - 40px);
        margin-bottom: 40px;
        margin-right: 40px;
    }
    
    @include respond-to('medium'){
        width: 152px;
    }
    
    @include respond-to('large'){
        width: 190px;
        height: 190px;
    }
    
    img{
        margin: 10px 0;
    }
}

.add-folder{
    border: 1px dashed #979797;
    font-size: 14px;
    transition: all 0.5s;
    
    &:hover{
        border: 1px solid #2284CA;
        transition: all 0.5s;
    }
}

.folder{
    background: #979797;
    transition: all 0.5s;
    
    &:hover{
        transition: all 0.5s;
    }
    
    p{
        color: $white;
        font-size: 18px;
        
        .quantity{
            display: block;
            font-size: 12px;
        }
    }
    
    &.pink{
        background: #EA4E9D;
    }
    &.green{
        background: #63D26F;
    }
    &.light-blue{
        background: #1FAAEA;
    }
    &.purple{
        background: #7A6FF0;
    }
    &.red{
        background: #E8384F;
    }
    &.light-gray{
        background: #B6BFC6;
    }
    &.orange{
        background: #FD9B00;
    }
    
    
    &.new{
        position: relative;
        
        & > *{
            z-index: 2;
        }
        
        &:after, &:before{
            content: "";
            position: absolute;
            background: inherit;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            top: 0;
            right: 0;
            z-index: 1;
            animation-name: Twinkle;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        &:before{
            animation-delay: 0.5s;
        }
    }
}