footer {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    font-size: 13px;
    color: $gray;
    margin-top: 50px;
    background: $light-gray;
    
    @include respond-to('medium'){
        padding: 35px 0;
        opacity: 1;
        visibility: visible;
        margin-top: 177px;
    }
    
    .footer-social{
        overflow: hidden;
        border-bottom: 1px solid #D0D0D0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        
        ul{
            li{
                display: inline-block;
            }
        }
        
        .contact-links{
            font-size: 16px;
            margin-top: 6px;
            
            li{
                margin-right: 10px;
                padding-right: 10px;
                border-right: 2px solid;
                line-height: 0.8;
                
                a{
                    position: relative;
                    
                    &:after{
                        content:"";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background: $black;
                        left: 50%;
                        bottom: -5px;
                        transition: all 0.5s;
                    }
                    
                    &:hover{
                        &:after{
                            width: 100%;
                            left: 0;
                            transition: all 0.5s;
                        } 
                    }
                }
            }
        }
        
        .social-links{
            li{
                margin: 0 10px;
            }
        }
        
        .dropdown{
            margin: 0;
            width: 95px;
            margin-left: 15px;
            
            &:before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background: url(img/spain.png);
                background-size: contain;
                background-repeat: no-repeat;
                left: 6px;
                top: 7px;
            }
            
            &:after{
                background-image: url(img/arrow-down-blue.png);
            }
            
            select{
                margin: 0;
                border: 1px solid #979797;
                border-radius: 10px;
                padding: 5px 10px;
                font-size: 14px;
                padding-left: 30px;
            }
        }
    }
}