.letters-menu{
    text-transform: uppercase;
    text-align: center;
    margin-left: -10px;
    
    @include respond-to('small'){
        margin-left: 0;
        margin-top: -8px;
    }
    
    li{
        height: 30px;
        
        &.active{
            position: relative;
            
            a{
                color: $white;
                position: relative;
            }

            &:before{
                content: "";
                position: absolute;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                background: $orange;
                top: -5px;
                left: calc(50% - 18px);
            }
        }
    }
}