.main-block{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: start;
    border: 1px solid #E9E9E9;
    padding: 15px;
    margin-bottom: 14px;
    position: relative;
    transition: all 0.5s;
    
    @include respond-to('medium'){
        padding: 10px 15px;
        align-items: center;
    }
    
    .number{
        width: 30px;
        min-width: 30px;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-right: 12px;
        margin-top: -7px;
        margin-left: -5px;
        
        @include respond-to('medium'){
            font-size: 24px;
            margin-right: 35px;
            margin-top: 0;
            margin-left: 0;
        }
    }
    
    .feature-image{
        width: 81px;
        min-width: 81px;
        height: 81px;
        border-radius: 6px;
        overflow: hidden;
        margin-right: 20px;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    .info{
        .author, .pages{
            font-size: 12px;
            color: #808080;
            margin-top: 10px;
        }
        
        .author-name{
            font-size: 14px;
            color: $gray;
            margin-bottom: 10px;
        }
        
        .category{
            font-size: 14px;
            margin-bottom: 10px;
        }
        
        .description{
            font-size: 14px;
            color: $gray;
            font-weight: $medium;
            margin: 10px 0;
        }
        
        .available{
            font-size: 12px;
            color: $gray;
            margin-top: 15px;
            display: flex;
            align-items: center;
            
            img{
                margin: 0 0 0 15px;
            }
        }
    }
    
    .visible-hover{
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.72);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        
        .btn-list{
            li:last-of-type{
                margin: 0;
            }
        }
        
        
        p{
            color: $white;
        }
        
        img{
            -webkit-filter: invert(100%);
        }
        
        @include respond-to('medium'){
            position: relative;
            width: auto;
            min-width: max-content;
            height: auto;
            background: none;
            display:  block;
            color: $black;
            padding-left: 10px;
            
            p{
                color: $black;
            }
            
            img{
                -webkit-filter: none;
            }
        }
    }
    
    &:hover{
        background: #F7F7F7;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
        transition: all 0.5s;
        
        .visible-hover{
            opacity: 1;
            visibility: visible;
            transition: all 0.5s;
        }
    }
    
    .magazine-image{
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
        min-width: 66px;
        margin: 0 20px 0 10px;
    }
}