.single{
    
    .single-title{
        border-bottom: 1px solid #E9E9E9;
        padding: 10px 0;
        overflow: hidden;
        
        p{
            font-size: 23px;
            font-weight: $medium;
            
            @include respond-to('medium'){
                 font-size: 32px;
                float: left;
            }
        }
        
        .dropdown{
            margin: 0;
            width: 202px;
            margin-top: 7px;
            position: absolute;
            top: -50px;
            left: calc(50% - 101px);
            
             @include respond-to('medium'){
                position: relative;
                 top: 0;
                 left: 0;
            }
            
            select{
                margin: 0;
                border: none;
                background: #F4F5F8;
                font-size: 12px;
                border-radius: 50px;
                padding: 10px 20px;
            }
        }
    }
    
    .content{
        .title{
            margin-bottom: 35px;
            font-size: 18px;
            
            @include respond-to('medium'){
                font-size: 24px;
                
                &.max{
                    max-width: 68%;
                }
            }
        }
        
        .uppercase-subtitle{
            margin-top: 30px;
        }
        
        .highlighted{
            border-left: 2px solid;
            padding-left: 20px;
            
            p{
                font-weight: $semi-bold;
            }
        }
        
        p{
            margin-bottom: 35px;
            color: $gray;
            line-height: 2;
        }
        
        .single-subsection{
            margin-bottom: 35px;
            
            p{
                margin-bottom: 0;
            }
        }
    }
    
    .caption{
        margin: 20px 0;
        
        p{
            font-size: 12px;
            margin: 0;
            line-height: 1.6;
        }
        
        .caption-subtitle{
            color: $black;
            font-size: 14px;
            font-weight: $semi-bold;
        }
    }
    
    .borders{
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        padding: 20px 0;
        margin-bottom: 0;
        margin-top: -1px;
        
        &.small-pd{
            padding: 10px 0;
        }
        
        p{
            margin-bottom: 20px;
            
            &:last-of-type{
                margin: 0;
            }
        }
    }
    
    .comments{
        border-top: 1px solid #E9E9E9;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 45px 0;
        margin-top: 50px;
        
        @include respond-to('medium'){
            margin-top: 100px;
        }
        
        .discussion{
            .type-comment{
                position: relative;
                
                input{
                    border: 1px solid #EDEDED;
                    padding: 10px;
                    padding-left: 50px;
                    
                    &::placeholder{
                        color: #CCCCCC;
                        font-size: 14px;
                    }
                }

                &:before{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url(img/attach.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: 13px;
                    left: 16px;
                    cursor: pointer;
                }
                
                &:after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url(img/smiley.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: 13px;
                    right: 16px;
                    cursor: pointer;
                }
            }
            
            .comment{
                border: 1px solid #EDEDED;
                display: flex;
                padding: 18px;
                margin-bottom: 15px;
                
                .user-image{
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    overflow: hidden;
                    margin-right: 15px;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
                
                .info{
                    min-width: 91%;
                    margin-left: auto;
                    margin-top: -8px;
                    
                    .name{
                        color: $blue;
                        font-size: 10px;
                        font-weight: $medium;
                        display: inline-block;
                    }
                    
                    .date{
                        display: inline-block;
                    }
                    
                    .text{
                        font-weight: $light;
                        margin-bottom: 15px;
                    }
                    
                    .actions{
                        border-top: 1px solid #EDEDED;
                        border-bottom: 1px solid #EDEDED;
                        padding-bottom: 6px;
                        
                        ul{
                            li{
                                display: inline-block;
                                font-size: 11px;
                                margin-right: 10px;
                                vertical-align: middle;
                                color: #9197A3;
                                
                                a{
                                    color: #9197A3;
                                }
                                
                                
                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                    
                    .reactions{
                        padding: 5px 0;
                        
                        .people{
                            float: left;
                            
                            .images{
                                display: inline-block;
                                
                                li{
                                    display: inline-block;
                                    margin-right: -6px;
                                }
                            }
                            
                            p{
                                color: #9197A3;
                                font-size: 11px;
                                display: inline-block;
                                margin-left: 10px;
                                margin-bottom: 0;
                            }
                        }
                        
                        .shares{
                            float: right;
                            
                            li{
                                display: inline-block;
                                font-size: 10px;
                                font-weight: $light;
                                vertical-align: middle;
                                margin-left: 20px;
                                color: #9197A3;
                                
                                a{
                                    color: #9197A3;
                                }
                                
                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .main-block{
            min-height: 210px;
            display: block;
            padding-bottom: 60px;
            
            .author, .pages{
                margin-top: 0;
                margin-bottom: 10px;
            }
            
            .bottom{
                position: absolute;
                bottom: 18px;
            }
        }
        
    }
    
}