.single{
    
    .indice{
        transform: translateX(calc(-100% + 45px));

        &.open{
            transform: translateX(0);
        }
    }
    
    .single-title{
        border-bottom: 1px solid #E9E9E9;
        padding: 10px 0;
        overflow: hidden;
        
        p{
            font-size: 23px;
            font-weight: $medium;
            margin: 0;
            
            @include respond-to('medium'){
                 font-size: 32px;
                float: left;
            }
        }
        
        .dropdown{
            margin: 0;
            width: 202px;
            margin-top: 7px;
            position: absolute;
            top: -50px;
            left: calc(50% - 101px);
            
             @include respond-to('medium'){
                position: relative;
                 top: 0;
                 left: 0;
            }
            
            select{
                margin: 0;
                border: none;
                background: #F4F5F8;
                font-size: 12px;
                border-radius: 50px;
                padding: 10px 20px;
            }
        }
    }
    
    .content{
        .title{
            margin-bottom: 35px;
            font-size: 18px;
            
            @include respond-to('medium'){
                font-size: 24px;
                
                &.max{
                    max-width: 68%;
                }
            }
        }
        
        .uppercase-subtitle{
            margin-top: 30px;
        }
        
        .highlighted{
            border-left: 2px solid;
            padding-left: 20px;
            
            p{
                font-weight: $semi-bold;
            }
        }
        
        p{
            margin-bottom: 35px;
            color: $gray;
            line-height: 2;
        }
        
        .single-subsection{
            margin-bottom: 35px;
            
            p{
                margin-bottom: 0;
            }
        }
    }
    
    .caption{
        margin: 20px 0;
        
        p{
            font-size: 12px;
            margin: 0;
            line-height: 1.6;
        }
        
        .caption-subtitle{
            color: $black;
            font-size: 14px;
            font-weight: $semi-bold;
        }
    }
    
    .borders{
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        padding: 20px 0;
        margin-bottom: 0;
        margin-top: -1px;
        
        &.small-pd{
            padding: 10px 0;
        }
        
        p{
            margin-bottom: 20px;
            
            &:last-of-type{
                margin: 0;
            }
        }
    }
    
    .comments{
        border-top: 1px solid #E9E9E9;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 45px 0;
        margin-top: 50px;
        
        @include respond-to('medium'){
            margin-top: 100px;
        }
        
        .discussion{
            height: 253px;
            margin-bottom: 50px;
            
            @include respond-to('medium'){
                height: 383px;
            }
        }
        
        .main-block{
            min-height: 210px;
            display: block;
            padding-bottom: 60px;
            
            .author, .pages{
                margin-top: 0;
                margin-bottom: 10px;
            }
            
            .bottom{
                position: absolute;
                bottom: 18px;
            }
        }
        
    }
    
}