@import 'login';
@import 'noticias';
@import 'core-journals';
@import 'medline-pearls';
@import 'guias-practica';
@import 'reporte';
@import 'resultado-busqueda';
@import 'seguridad-paciente';
@import 'central-inteligencia';
@import 'biblioteca';
@import 'sotobosque';
@import 'actividad';
@import 'calendario';
@import 'contacto';
@import 'perfil';
@import 'rima-tv';
@import 'notificaciones';
@import 'intro';