.page-central-inteligencia{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #182C45 4%, #329DCB 60%);
    }
    
    .inicio{
        .main-block{
            min-height: 100px;
            align-items: start;
        }
    }
    
     .single .borders.caption {
        margin-bottom: 30px;
    }
}