.page-core-journals{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #FAD961 4%, #F76B1C 60%);
    }
    
    .inicio{
        margin-top: 60px;
    }
    
    .acceso-libre{
        .title{
            margin-top: 3px;
        }
        
        .search {
            .input-search {
                width: 550px;
            }
        }
    }
    
    .ranking{
        .main-block {
            padding: 15px 12px 30px;
            
            @include respond-to('medium'){
                padding: 20px 35px;
            }
        }
    }
    
    .pedido-bibliografico{    
        @include respond-to('medium'){
            .form-box{
                border: 1px solid #E9E9E9;
                padding: 90px 0;
                
                form{
                    max-width: 100%;
                    width: 460px;
                    margin: 0 auto;
                }
            }
        }
    }
    
    .floating-menu.fixed{
        padding-left: 60px;
    }
}