.mi-core.single{
    .folder-header{
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
        color: $white;
        overflow: hidden;
        padding: 10px 20px;
        margin-bottom: 20px;
        
        .breadcrumbs{
            margin: 0;
            font-size: 16px;
            display: block;
            
            a{
                color: $white;
            }
        }
        
        .edit{
            p{
                font-size: 12px;
                text-decoration: underline;
                color: $white;
                margin-left: 10px;
                display: none;
                
                @include respond-to('medium'){
                    display: inline-block;
                }
            }
        }
    }
    
    .micore-submenu{
        overflow: hidden;
        margin-bottom: 20px;
        
        input[type='checkbox']{
            margin-top: 8px;
            margin-left: 15px;
            display: none;
            
            @include respond-to('medium'){
                display: block;
            }
        }
        
        ul{
            overflow: hidden;
            margin-top: 6px;
            
            li{
                display: inline-block;
                margin: 0 10px;
                                
                a{
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-flow: wrap;
                }
                
                img{
                    float: left;

                    @include respond-to('medium'){
                        margin-right: 10px;
                    }
                }
                
                p{
                    float: left;
                    margin: 0;
                    display: none;
                    
                    @include respond-to('medium'){
                        display: block;
                    }
                }
            }
        }
        
        .add-magazines{
            font-size: 14px;
            font-weight: $medium;
            text-decoration: underline;
            margin-right: 15px;
            display: none;
            
            @include respond-to('small'){
                display: inline-block;
            }
            
            img{
                margin-right: 10px;
            }
        }
        
        .dropdown{
            display: inline-block;
            width: 160px;
            margin-right: 0;

            &:after{
                content: "";
                position: absolute;
                width: 15px;
                height: 9px;
                background: url(img/arrow-down.png);
                background-size: contain;
                background-repeat: no-repeat;
                right: 15px;
                top: 13px;
            }

            select{
                background: none;
                border: 1px solid #979797;
                border-radius: 50px;
                -webkit-appearance: none;
                width: 100%;
                padding: 5px 19px;
                font-size: 14px;
                margin-bottom: 0; 

                &:focus{
                    outline: none;
                }
            }
        }
    }
    
    .main-block{
        padding: 10px;
        
        input[type='checkbox']{
            border: 1px solid #E9E9E9;
            display: none;
            
            @include respond-to('medium'){
                display: block;
            }
        }
        
        .author{
            width: calc(100% + 84px);
            margin-left: -87px;
            margin-top: 30px;
            
            @include respond-to('small'){
                width: auto;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}