.page-core-journals{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #FAD961 4%, #F76B1C 60%);
    }
    
    .magazine{
        margin-bottom: 20px;
        
        @include respond-to('medium'){
            margin-bottom: 50px;
        }
        
        .feature-image{
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.75);
        }
        
        p{
            margin: 10px 0;
            font-size: 12px;
            
            @include respond-to('medium'){
                font-size: 16px;
            }
        }
    }
    
    .search {
        .input-search {
            width: 550px;
        }
    }
    
    .acceso-libre{
        .title{
            margin-top: 3px;
        }
        
        .col-11 {
            @include respond-to('xxsmall'){
                max-width: 90%;
            }
        }
    }
    
    .magazine-list{
        @include respond-to('medium'){
            margin-top: 25px;
        }
    }
    
    .pedido-bibliografico{
        
        @include respond-to('medium'){
            .form-box{
                border: 1px solid #E9E9E9;
                padding: 90px 0;
                
                form{
                    max-width: 100%;
                    width: 460px;
                    margin: 0 auto;
                }
            }
        }
    }
}