.page-notificaciones{
    .header-bg{
        background: $blue;
        margin-bottom: 50px;
    } 
    
    .notification{
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E6E6E6;
        border-top: 1px solid #E6E6E6;
        padding: 15px 0px;
        margin-right: -15px;
        padding-right: 30px;
        margin-bottom: -1px;
        
        &:after{
            content: "";
            position: absolute;
            width: 10px;
            height: 16px;
            background-image: url(img/arrow-right.png);
            background-repeat: no-repeat;
            background-size: contain;
            right: 15px;
            top: calc(50% - 5px);
        }
        
        &.active{
            background: rgba(24, 115, 243, 0.1);
            margin-left: -15px;
            padding-left: 15px;
            
            &:after{
                background-image: url(img/arrow-right-blue.png);
            }
        }
        
        .icon{
            width: 45px;
            margin-right: 20px;
        }
        
        .info{
            max-width: 75%;
        }
        
        p{
            margin: 0;
            line-height: 1.3;
            font-weight: $medium;
        }
        
        .important{
            color: #D0021B;
            font-size: 14px;
            margin: 5px 0;
            letter-spacing: -0.22px;
        }
        
        .date{
            font-size: 14px;
            font-weight: $regular;
            color: $blue;
            margin-top: 5px;
        }
    }
}