.page-noticias{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #88F3E2 4%, #84C7B8 60%);
    }
    
    .news{
        padding: 40px 0 50px;
        
        .main-new{
            position: relative;
            overflow: hidden;
            margin-right: -15px;
            margin-left: -15px;
            height: 260px;
            margin-bottom: 1px;
            
            @include respond-to('small'){
                margin-right: 0;
                margin-left: 0;
                height: 400px;
                margin-bottom: 45px;
            }
            
            .feature-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                
            }
            
            &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 40%;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(rgba(0, 0, 0, 0), $black);
                }
            
            .info{
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 1;
                color: $white;
                padding: 15px;
                
                @include respond-to('small'){
                    padding: 30px;
                }
                
                @include respond-to('medium'){
                    max-width: 60%;
                }
                
                .date{
                    font-size: 12px;
                    margin: 0;
                    
                    .publish{
                        font-weight: $semi-bold;
                    }
                }
                
                .new-title{
                    font-size: 28px;
                    font-weight: $medium;
                    line-height: 1.3;
                    margin: 0;
                    
                    @include respond-to('small'){
                        font-size: 38px;
                    }
                }
            }    
        }
        
        .small-new{
            height: 115px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            margin-top: -1px;
            margin-right: -15px;
            padding-right: 30px;
            
            @include respond-to('small'){
                margin-right: 0;
                padding-right: 0;
            }
            
            @include respond-to('medium'){
                 height: 140px;
            }
            
            &.large{
                .info{
                    @include respond-to('medium'){
                        width: 60%;
                    }
                    
                    .new-title{
                        font-size: 16px;
                        line-height: 1.2;
                        
                        @include respond-to('medium'){
                             font-size: 20px;
                        }
                    }
                }
                
                .feature-image{
                    float: left;
                    width: 40%;
                }
            }
            
            .info{
                float: left;
                
                @include respond-to('medium'){
                    width: 80%;
                }
                
                .new-title{
                    font-size: 16px;
                }
            }
            
            .feature-image{
                float: left;
                width: 20%;
                text-align: right;
                
                img{
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        
        .video-container{
            position: relative;
            height: 208px;
            margin-left: -15px;
            margin-right: -15px;
            
            @include respond-to('small'){
                height: 228px;
                margin: 0;
            }
            
            @include respond-to('medium'){
                height: 280px;
            }
            
            .featured-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            
            .info{
                position: absolute;
                width: 100%;
                padding: 20px;
                bottom: 0;
                color: $white;
                
                @include respond-to('medium'){
                    width: 80%;
                }
                
                .icon-play{
                    max-width: 20%;
                }
                
                p{
                    margin-left: 20px;
                    float: left;
                    width: calc(80% - 20px);
                    line-height: 1.3;
                } 
            }
        }
        
        .banner{
            margin: 35px 0;
            height: 125px;
            margin-right: -15px;
            
            @include respond-to('small'){
                height: auto;
                margin-right: 0;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
        .medium-new{
            margin-bottom: 50px;
            
            .feature-image{
                margin-bottom: 20px;
                height: 116px;
                
                @include respond-to('small'){
                    height: 205px;
                }
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            
            .info{
                .new-title{
                    font-weight: $medium;
                    line-height: 1.2;
                    
                    @include respond-to('small'){
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
    .apps{
        background: $light-gray;
        padding-top: 30px;
        margin-bottom: 50px;
    }
}