.page-registro{
    header{
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 50px;
        height: auto;
        
        .menu-desktop{
            display: none;
        }
        
        .menu-mobile{
            display: none;
        }
        
        .main-header{
            height: auto;
            
            .header-info{
                .language{
                    display: block;
                }

                .search{
                    display: none;
                }

                .notifs{
                    display: block;
                    margin: 0;

                    ul{
                        li:nth-of-type(2){
                            display: none;
                        }
                    }
                }

                .profile{
                    display: none;
                }
            }
        }
    }
    
    .title{
        margin-bottom: 5px;
    }
    
    p{
        color: $gray;
    }
    
    .registro-process{
        margin: 50px 0;
        
        .nav-tabs{
            width: 100%;
            background: #F4F5F8;
            border: 1px solid #E9E9E9;
            
            .nav-item{
                width: 50%;
                text-align: center;
                
                &:hover, &:focus, &:visited, &:active{
                    border: none;
                    outline: none;
                }
                
                .nav-link{
                    border: none;
                    padding: 15px 0;
                    transition: none;
                    
                    &:hover, &:focus, &:visited, &:active{
                        border: none;
                        outline: none;
                    }
                    
                    p{
                       font-size: 14px;
                        color: #9B9B9B; 
                        margin: 0;
                        
                        @include respond-to('small'){
                            font-size: 18px;
                        }
                    }
                    
                    &.active{
                        background: none;
                        border: none;
                        position: relative;
                        
                        &:after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            bottom: -1px;
                            left: 0;
                            background: $blue;
                        }
                        
                        
                        p{
                            font-weight: $semi-bold;
                            color: $gray;
                        }
                    }
                    
                    &.completed{
                        p{
                            font-weight: $semi-bold;
                            color: $gray;
                            
                            &:after{
                                content: "";
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                background-image: url(img/completed.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                vertical-align: middle;
                                margin-top: -4px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        
        .tab-content{
            padding: 30px;
            border: 1px solid #E9E9E9;
            margin-top: -1px;
            
            @include respond-to('medium'){
                padding: 50px;
            }
            
            .tab-pane{
                form{
                     @include respond-to('medium'){
                        display: flex;
                        flex-flow: wrap;
                        justify-content: space-between;


                        .half{
                            min-width: 46%;
                            max-width: 46%;
                        }
                         
                    }
                    
                    input[type='text'], input[type='password'], input[type='number'], input[type='email'], input[type='tel'], textarea, select{
                        
                        @include respond-to('medium'){
                            min-width: 290px;
                        }
                        
                         @include respond-to('large'){
                            min-width: 360px;
                        }
                    }
                    
                    .upload-image{
                        margin-bottom: 50px;
                        
                        .photo{
                            width: 88px;
                            height: 88px;
                            display: block;
                            border: 2px solid $blue;
                            border-radius: calc(70% - 27px);
                            font-size: 40px;
                            text-align: center;
                            color: $blue;
                            padding-top: 10px;
                            margin: 0 auto;
                        }
                        
                        .subir{
                            color: #9B9B9B;
                            font-size: 12px;
                            text-align: center;
                            display: block;
                            margin: 10px 0;
                            text-decoration: underline;
                        }
                    }
                    
                    .dropdown{
                        width: 100%;
                    }
                    
                    input[type="radio"]{
                        margin-left: 25px;
                        margin-right: 7px;
                        margin-bottom: 45px;
                        margin-top: 4px;
                        -webkit-appearance: none;
                        width: 17px;
                        height: 17px;
                        border-radius: 50px;
                        border: 1px solid #979797;
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        
                        &:checked{
                            &:before{
                                content: "";
                                position: absolute;
                                width: 9px;
                                height: 9px;
                                background: $blue;
                                border-radius: 50px;
                                top: 3px;
                                left: 3px;
                            }
                        }
                        
                        &:first-of-type{
                            margin-left: 10px;
                        }
                    }
                    
                    .btn-full{
                        width: 195px;
                        
                        @include respond-to('medium'){
                            float: right;
                        }
                    }
                }
            }
        }
    }
    
    footer{
        background: $white;
        border-top: 1px solid #E9E9E9;
        
        .footer-social{
            display: none;
        }
    }
}