.page-reporte{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #FAD961 4%, #F76B1C 60%);
    }
    
    .folder-single .main-block {
        min-height: 110px;
    }
    
    .single .borders.caption{
        margin-bottom: 30px;
    }
}