.page-rima-tv{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #51C5EC 4%, #3023AE 60%);
    }
    .video{
        position: relative;
        
        &:after{
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            background-image: url(img/play.png);
            background-size: contain;
            background-repeat: no-repeat;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
        }
    }
  

    .main-block{
        padding: 4px 8px;
        align-items: center;

        @include respond-to("small"){
            padding: 10px 15px;
        }

        .video{
            min-width: 115px;
            width: 160px;
            height: 60px;
            margin-right: 20px;

            @include respond-to("small"){
                height: 90px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .info{
            @include respond-to("medium"){
                max-width: 40%;
            }

            .name{
                font-size: 14px;

                @include respond-to("small"){
                    font-size: 16px;
                }
            }
        }
    }
    
}