.page-seguridad-paciente{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #FFEE7A 4%, #FFD000 60%);
    }
    
    .single .borders.caption {
        margin-bottom: 30px;
    }
    
    .main-block{
        .author-name{
            font-weight: $medium;
        }
        
        .category{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: $semi-bold;
        }
        
        &.new{
            .category{
                color: $orange;
                font-weight: $medium;
            }
        }
    }
}