.page-sotobosque{
    .header-bg{
        background-image: radial-gradient(circle at 50% 10px , #3D7D9D 4%, #04151D 60%);
    }
    
    .destacado{
        .title.max{
            margin-bottom: 30px;

            @include respond-to('medium'){
                max-width: 75%;
            }
        }

        .folders-container{
            justify-content: space-between;
            min-height: auto;
            margin-bottom: 50px;
            margin-right: 0;
            margin-right: -40px;

            .folder{
                width: 50%;
                height: 164px;
                margin: 0;
                justify-content: flex-end;
                text-align: left;
                padding: 0 10px;
                align-items: initial;
                margin-bottom: 20px;

                @include respond-to('small'){
                    width: 30%;
                }

                @include respond-to('medium'){
                    width: 140px;
                }

                p{
                    font-size: 16px;
                    font-weight: $semi-bold;

                    .author{
                        display: block;
                        font-size: 12px;
                        font-weight: $medium;
                    }
                }
            }
        }
    }
    
    .main-block{
        .cuento{
            margin-right: 20px;
        }

        .name{
            font-size: 18px;
            font-weight: $medium;
        }

        .author{
            margin: 2px 0 8px;
        }

        p{
            color: $gray;
        }
    }
    
    .single{
        .borders.caption {
            margin-bottom: 30px;
        }
        
        .ver-bio{
            margin-left: 10px;
        }
        
        
        &.author-single{
            .title{
                border-bottom: 1px solid #E9E9E9;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
    }
}