.accordion{
    .card{
        border: none;
        
        .card-header{
            border: none;
            background: $purple;
            border-radius: 0;
            position: relative;
            
            .btn-collapse{
                display: block;
                overflow: hidden;
            
                p{
                    font-size: 16px;
                    font-weight: $regular;
                    color: $white;
                    margin: 0;
                    line-height: 1.4;
                    font-size: 20px;
                    margin-top: 4px;
                }

                .card-btn{
                    width: 38px;
                    height: 38px;
                    border-radius: 8px;
                    border: 1px solid $white;
                    text-align: center;
                    padding-top: 4px;

                    img{
                        transition: all 0.5s;
                    }
                }
                
                &.collapsed{
                    .card-btn{
                        img{
                            transform: rotate(180deg);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        
        .card-body{
            background: #F4F5F8;
            border-radius: 0;
            
            .box{
                padding-bottom: 10px;
                border-bottom: 1px solid #E9E9E9;
                margin-bottom: 10px;
                
                &:last-of-type{
                    border: none;
                    margin-bottom: 0;
                }
            }
            
            .title{
                font-size: 20px;
                font-weight: $semi-bold;
                margin-bottom: 15px;
            }
            
            .subtitle{
                font-size: 14px;
                font-weight: $semi-bold;
            }
            
            p{
                margin: 0;
                font-size: 14px;
            }
        }
    }
}