.breadcrumbs{
    font-size: 14px;
    color: $gray;
    margin-bottom: 15px;
    
    &.hidden-mobile{
        display: none;
        
        @include respond-to('medium'){
            display: block;
        }
    }
    
    
    
    .before{
        font-weight: $bold;
        text-decoration: underline;
    }
    
    .arrow{
        margin: 0 10px;
    }
}