.btn-full{
    display: block;
    width: 350px;
    max-width: 100%;
    margin: 35px auto;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    color: $white !important;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    
    &:hover{
        transition: all 0.5s;
    }
}

.border-btn{
    width: 290px;
    max-width: 100%;
    display: block;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    margin: 50px auto;
    padding: 8px 0;
    transition: all 0.5s;
    
        p{
            color: $black;
            font-size: 14px;
            margin: 0 !important;
            transition: all 0.5s;
        }
    
    &:hover{
        color: $white !important;
        transition: all 0.5s;
        
        p{
            color: $white !important;
            transition: all 0.5s;
        }
    }
    
    &.small{
        width: max-content;
        padding: 8px 42px;
        border-radius: 50px;
        margin: 0;
    }
    
    

}