.floating-menu{
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    top: -60px;;
    width: 100%;
    background: $white;
    left: 0;
    margin: 0;
    z-index: 1;

    
    &.fixed{
        position: fixed;
        top: 0;
    }
    
    li{
        display: inline-block;
    }
    
    .left{
        li{
            margin-right: 20px;
        }
    }
    
    .right{
        li{
            margin-left: 20px;
        }
    }
    
    @include respond-to('large'){
        position: fixed;
        right: 15px;
        width: auto;
        background: transparent;
        left: initial;
        
        li{
            display: block;
        }
        
        .left, .right{
            float: none;
            
            li{
                margin: 20px 0;
                width: 30px;
                text-align: center;
            }
        }
    }
    
    @include respond-to('xlarge'){
        right: 100px;
    }
}