input, textarea, select{
    &:focus{
        outline: none;
    }
}
input[type='text'], input[type='password'], input[type='number'], input[type='email'], input[type='tel'], textarea, select{
    -webkit-appearance: none;
    background: none;
    border-radius: 0;
    border: none;
    width: 100%;
    display: block;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    margin-bottom: 40px;
    font-size: 14px;

    @include respond-to('small'){
        font-size: 16px;
    }
    
    &::placeholder{
        color: $black;
    }
}
textarea{
    height: 90px;
}
label{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color: #9B9B9B;
}
input[type='checkbox']{
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #9B9B9B;
    -webkit-appearance: none;
    margin: 0 10px;
    background: $white;
    
    &:checked{
        background: #9B9B9B;
    }
}
.dropdown{
    width: 45%;
    position: relative;
    margin-right: 10%;
        
    &.no-m{
        margin-right: 0;
    }
    
    @include respond-to('medium'){
        width: 160px;
        margin-right: 30px;
    }

    &:after{
        content: "";
        position: absolute;
        width: 15px;
        height: 9px;
        background: url(img/arrow-down.png);
        background-size: contain;
        background-repeat: no-repeat;
        right: 15px;
        top: 13px;
    }
}

.caption{
    font-size: 12px;
    color: $gray;
    margin-top: -35px;
    
     @include respond-to('small'){
        font-size: 14px;
    }
}