.main-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    
    @include respond-to('small'){
        font-size: 36px;
    }
}

.title{
    font-size: 24px;
    font-weight: $medium;
    margin-bottom: 20px;
    
    &.sm{
        font-weight: $semi-bold;
    }
}

.subtitle{
    font-size: 20px;
    font-weight: $medium;
}

.uppercase-subtitle{
    text-transform: uppercase;
    font-weight: $semi-bold;
}